h1 {
  font-family: crimson text;
  text-align: center;
  background-color: #E8BA9E;

}

label {
  font-family: crimson text;
}

form {
  text-align: center;
}

.mdl-button:hover {
  background-color: #E8BA9E;

}

li {
  text-align: center;
  width: 10%;
  margin: auto;
  font-family: hind;
}
